<!-- 
<div class="container">
  <div class="row">

    <div class="card-columns">
      <div>

        <app-post-card *ngFor="let post of this.pagedPosts?.posts | async" [model]="post"></app-post-card>

      </div>
    </div>

  </div>

</div> -->

<div class="main-panel">
  <div class="content-wrapper">
    <div class="card-columns">

      <!-- <app-post-card *ngFor="let post of this.pagedPosts?.posts | async" [model]="post"></app-post-card> -->
        <app-post-card *ngFor="let number of [0,1,2,3,4,5]"></app-post-card>

    </div>
  </div>
</div>