
<!-- <div class="card post-card">

  <div class="card-header">
    <h4 class="card-title">{{model.title}}</h4>
	<img class="img col-md-2" src="{{model.thumbnail}}" alt="{{model.title}}"/>
  </div>

  <div class="card-body">
    <p class="card-text">
      {{model.content}}
    </p>
  </div>

  <div class="card-footer">
    Created: {{model.createdAt}} , Edited: {{model.lastUpdate}}
	Category: {{model.category}} Tags: {{model.tags}}
  </div>

</div> -->

<div class="card">
  <img class="card-img-top" src="../../../assets/winter_natural.jpg" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">Card title that wraps to a new line</h4>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum hic officia animi quod iure, vel aliquam quia recusandae accusantium quo impedit labore, eligendi ipsam, fugit tempora, explicabo deleniti minus iste! </p>
  </div>
</div>

<!-- 
post comments:
<div class="">
	<div>
	
	<div>
</div> -->
