<div class="container">
  <div class="row">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-info active">
        <input type="checkbox" name="" id="" (click)="this.logLevel=1" checked autocomplete="off">
      </label>
      <label class="btn btn-warning">
        <input type="checkbox" name="" id="" (click)="this.logLevel=2" autocomplete="off">
      </label>
      <label class="btn btn-danger">
        <input type="checkbox" name="" (click)="this.logLevel=2" id="" autocomplete="off">
      </label>
    </div>

    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" (click)="getLogs(1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link"
            (click)="getLogs(this.pagedLogs.Paging.CurrentPage-1)">{{this.pagedLogs.Paging.CurrentPage-1}}</a></li>
        <li class="page-item active"><a class="page-link">{{this.pagedLogs.Paging.CurrentPage}}</a></li>
        <li class="page-item">
          <a class="page-link" (click)="getLogs(this.pagedLogs.Paging.CurrentPage+1)">
            {{this.pagedLogs.Paging.CurrentPage+1}}
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="getLogs(this.pagedLogs.Paging.CurrentPage+10)">
            {{this.pagedLogs.Paging.CurrentPage+10}}
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="getLogs(this.pagedLogs.Paging.TotalItems/10)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">{{this.pagedLogs.Paging.TotalItems/10}}</span>
          </a>
        </li>
      </ul>
    </nav>
    Total: <span class="badge badge-info">{{this.pagedLogs.Paging.TotalItems}}</span>
  </div> <!-- end of row -->

  <div class="row">

    <table class="table table-secondary table-responsive">
      <thead>
        <tr>
          <th>Id</th>
          <th>Timestamp</th>
          <th>Level</th>
          <th>Message Template</th>
          <th>RenderedMessage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of this.pagedLogs?.Logs">
          <td scope="row">{{log.Id}}</td>
          <td>{{log.Timestamp}}</td>
          <td>{{log.Level}}</td>
          <td>{{log.MessageTemplate}}</td>
          <td class="text">{{log.RenderedMessage}}</td>
        </tr>
      </tbody>
    </table>

  </div> <!-- end of row -->

</div> <!-- end of container -->
