<div class="container">
  <div class="row">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-info active">
        <input type="checkbox" name="" id="" checked autocomplete="off">
      </label>
      <label class="btn btn-warning">
        <input type="checkbox" name="" id="" autocomplete="off">
      </label>
      <label class="btn btn-danger">
        <input type="checkbox" name="" id="" autocomplete="off">
      </label>
    </div>
  </div> <!-- end of row -->

  <div class="row">

    <table class="table table-secondary table-responsive">
      <thead>
        <tr>
          <th>Id</th>
          <th>Timestamp</th>
          <th>Level</th>
          <th>Message Template</th>
          <th>RenderedMessage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of this.pagedLogs?.Logs">
          <td scope="row">{{log.Id}}</td>
          <td>{{log.Timestamp}}</td>
          <td>{{log.Level}}</td>
          <td>{{log.MessageTemplate}}</td>
          <td class="text">{{log.RenderedMessage}}</td>
        </tr>
      </tbody>
    </table>

  </div> <!-- end of row -->

  <div class="row">

    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center active">
        Current Page: {{this.pagedLogs?.Paging.CurrentPage}}
        <span class="badge badge-secondary badge-pill">pill1</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Total items: {{this.pagedLogs?.Paging.TotalItems}}
        <span class="badge badge-secondary badge-pill">pill2</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center disabled">
        Max records: {{this.pagedLogs?.Paging.MaxPagerItems}}
        <span class="badge badge-secondary badge-pill">pill3</span>
      </li>
    </ul>

  </div> <!-- end of row -->

</div> <!-- end of container -->
