<div style="text-align:center" class="jumbotron">
  <h1>
    !به وبلاگ سعید رضایی خوش آمدید
  </h1>
</div>

<div>

  <div class="alert alert-success" role="alert">
    <p>
      این متن برای همه نمایش داده میشود
    </p>
  </div>


  <div isVisibleForAuthUser class="alert alert-warning" role="alert">
    <p>
      این متن فقط برای کسانی که لاگین کرده اند، نمایش داده میشود
    </p>
  </div>


  <div *hasAuthUserViewPermission="['Admin']" class="alert alert-danger" role="alert">
    <p>
      این متن فقط برای دسترسی مدیر، نمایش داده میشود
    </p>
  </div>


  <div *hasAuthUserViewPermission="['Writer']" class="alert alert-dark" role="alert">
    <p>
      این متن فقط برای دسترسی نویسنده، نمایش داده میشود
    </p>
  </div>

  <div *hasAuthUserViewPermission="['Admin','Writer']" class="alert alert-danger" role="alert">
    <p>
      نمایش برای مدیران
    </p>
  </div>

  <!----------- -->
</div>
